.footer{
    background: rgb(255,153,51);
    background: linear-gradient(90deg, rgba(255,153,51,1) 0%, rgba(255,255,255,1) 50%, rgba(19,136,8,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer__upper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
}
.footer__logo1{
    width: fit-content ;  
}

.footer__logo{

    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none !important;

}

.footer__logo__text{
    display: flex;
    flex-direction: column;
}

.underlinks{
    font-size: 0.7rem;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.email{
    margin-top: 2%;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.footer__logo > img {
    height: 100px;
    width: 100px;
    margin: 10px 0px;
    margin-right: 5%;
}

.footer__middle{
    flex: 0.5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer__middle > img{
    height: 80px;
    width: 50px;
    background-color: transparent;
}
.footer__middle > span {
    color: black;
    font-size: 2.0rem;    
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    text-decoration: none !important;

}


.footer__bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:100%;
    padding-bottom: 1%
}

.bottom__link{
    color: black;
    font-size: 1.2rem;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    text-decoration: none !important;

}




                
@media screen and (max-width: 960px) {


    
  
    .underlinks{
        font-size: 0.2rem;
    }

    .email{
        font-size: 0.2rem;
    }
    
    .footer__logo > img {
        height: 20px;
        width: 20px;
    }
    
    .footer__middle{
        flex: 0.3;
        display: flex;
        flex-direction: row;
        align-items: center;
        /* justify-content: space-evenly; */
    }
    
    .footer__middle > img{
        height: 30px;
        width: 20px;
    }
    .footer__middle > span {
        color: black;
        font-size: 0.4rem;
        text-decoration: none !important;
        font-family: 'Roboto', sans-serif;
    
    }
    .footer__links{
        flex: 0.3;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: black;
    }
    
    
    .links{
        font-size:0.4rem;
    }
    
    

}