.footer{
    background: rgb(255,153,51);
    background: linear-gradient(90deg, rgba(255,153,51,1) 0%, rgba(255,255,255,1) 50%, rgba(19,136,8,1) 100%);
    display: flex;
    flex-direction: column;
}

.footer__upper{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-evenly;
}

.footer__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none !important;
    
}

.footer__logo > img {
    height: 100px;
    width: 100px;
}

.footer__links{
    color: black !important;
    text-decoration: none !important;
}


.footer__underlinks{
    font-size: 0.7rem;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.footer__email{
    margin-top: 2%;
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.footer__tag__line{
    display: grid;
    align-items: center;
    color: black;
    font-size: 2.0rem;    
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    text-decoration: none !important;
}

.footer__bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:100%;
    padding-bottom: 1%
}

.bottom__link{
    color: black;
    font-size: 1.2rem;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    text-decoration: none !important;

}

.bottom__services{
    font-size: 0.8rem;
}




                
@media screen and (max-width: 960px) {

    .footer{
        align-items: center;
    }
    .footer__upper{
        display: flex;
        flex-direction: column;
        /* background-color: red; */
        align-items: center;
    }
    .footer__logo{
        display:flex;
        width:100%;
        flex-direction: column;
            }
    .footer__logo__text{
        display: flex;
        flex-direction: column;
        align-items:center;
        
    }
    .footer__tag__line{
        font-size: 1.5rem;
        font-weight: 300;
        padding-top: 2%;
        padding-bottom: 2%;
        text-align: center;
    }
    .footer__underlinks{
        font-size: 0.5rem;
        font-weight: 300;
        display:flex;
        align-items: center;
    }

    .footer__email{
        font-size: 0.8rem;
        font-weight: 300;
        display:flex;
        align-items: center;
    }
    
    .footer__logo > img {
        height: 80px;
        width: 80px;
    }
    
    .footer__links{
        display:flex;
        font-size:1.0rem;
        font-weight: 300;
        align-items: center;
    }

    .footer__bottom{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 1%
    }

    .bottom__link{
        display:flex;
        align-items: left;
        flex-direction: column;
        font-weight: 300;
    }
}