 .gstfiling{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* position: relative; */
}

.left{
    flex: 0.7;
    
}

.offers__banner__right{
    position: fixed;
    background-color: #3b3b3b;
    flex: 0.3;
}



/*
.offers{
    background-color: #F1D1B5;
    height: 100vh;
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    align-items: center;
}


.offers__banner__left{
    flex: 0.7;
    background-color: red;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.offers__heading{
    font-size: 2.5rem;
}

.offers__banner__right{
    flex: 0.3;
    align-items: flex-end;
    position: fixed  ; 
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #3b3b3b;
    height: 50vh;
    padding: 10px;
    border-radius: 10px;
}

.offers__tagline{
    background-color: white;
    height: 10vh;
    display: grid;
    place-content: center;
}

.offers__tagline > span {
    align-items: center;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.7rem;
}

.offers__form{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.offers__form > span {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-size: 1.5rem;
}



.oldPrice{
    margin-right: 10%;
    font-size: 1.5rem;
    color: red;
    text-decoration: line-through;
}

.newPrice{
    margin-left: 10%;
    font-size: 1.5rem;
    color: green;
}

  
  .form h1 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  
  
  .offerButton {
    margin-top: 2%;
    width: 60%;
    background-color: white;
    outline: none;
    color: #292929;
    font-weight: bold;
    border: 1px solid #3b3b3b;
    border-radius: 10px;
    padding: 10px;
    transition: ease all 250ms;
    border: unset;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .error {
    margin-top: 10px;
    font-weight: bold;
    font-style: italic;
    color: #b60000;
  }
  
  .offerLogin{
      background-color: #fa9745;
  } */





  .info{
    background-color: white;
  }
  
  .item {
    width: 100%;
    margin: 50px 0px ;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* background-color: #3b3b3b; */
    background: rgb(255,153,51);
    background: linear-gradient(90deg, rgba(255,153,51,1) 0%, rgba(255,255,255,1) 50%, rgba(19,136,8,1) 100%);
    text-align: left;
    /* color: white; */
    color: black;
    font-size: 1em;
    border-radius: 10px;
  }
  
  .info__header{
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 2em;
    margin-top: 5%;
    
  }
  
  .info__para{
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 200%;
    padding: 5%;
  }
  
  @media screen and (max-width:960px){
  
    .item {
      width: 90%;
      background-color: #3b3b3b;
    }
    
    .info__header{
      font-size: 1.5rem;
    }
    
    .info__para{
      font-size: 0.7rem;
      line-height: 150%;
    }
  
  }
  


@media screen and (max-width: 960px){

    .offers{
        background-color: white;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    
    .offers__banner__left{
        background-color: #F1D1B5;
        flex: 0.1;
        display: flex;
        flex-direction: column;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    
    .offers__heading{
        font-size: 1.5rem;
    }
    
    .offers__banner__right{
        flex: 0.6;
        align-self: center;
        position: relative ; 
        margin-right: 0px;
        height: 40vh;
        padding: 5%;
        border-radius: 10px;
        margin-top: 2%;
    }
    
    .offers__tagline{
        background-color: white;
        height: 10vh;
        display: grid;
        place-content: center;
    }
    
    .offers__tagline > span{
        align-items: center;
        color: black;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.7rem;
        font-weight: 700;
    }
    
    .offers__form{
        display: flex;
        flex-direction:column;
        text-align: center;
        align-items: center;
    }
    
    .offers__form > span {
        font-family: 'Nunito Sans', sans-serif;
        color: white;
        font-size: 1.5rem;
    }
    
    
    
    .oldPrice{
        margin-right: 10%;
        font-size: 1.5rem;
        color: red;
        text-decoration: line-through;
    }
    
    .newPrice{
        margin-left: 10%;
        font-size: 1.5rem;
        color: green;
    }

    
}