 .gstfiling{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* position: relative; */
}

  .info{
    background-color: white;
  }
  
  .item {
    width: 70%;
    margin: 50px 15%;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* background-color: #3b3b3b; */
    background: rgb(255,153,51);
    background: linear-gradient(90deg, rgba(255,153,51,1) 0%, rgba(255,255,255,1) 50%, rgba(19,136,8,1) 100%);
    /* text-align: left; */
    /* color: white; */
    color: black;
    font-size: 1em;
    border-radius: 10px;
  }
  
  .info__header{
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 2em;
    margin-top: 5%;
    
  }
  
  .info__para{
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 200%;
    padding: 5%;
  }
  
  
  @media screen and (max-width: 960px){
    .item {
      width: 100%;
      background-color: #3b3b3b;
    }
    
    .info__header{
      font-size: 1.5rem;
    }
    
    .info__para{
      font-size: 0.7rem;
      line-height: 150%;
    }

    .offers{
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    
    
    .offers__banner__left{
        background-color: #F1D1B5;
        width:100%;
        display: flex;
        flex-direction: column;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    
    .offers__heading{
        font-size: 1.5rem;
    }
    
    .offers__banner__right{
        flex: 0.6;
        align-self: center;
        position: relative ; 
        margin-right: 0px;
        padding: 5%;
        border-radius: 10px;
    }
    
    .offers__tagline{
        background-color: white;
        height: 10vh;
        display: grid;
        place-content: center;
    }
    
    .offers__tagline > span{
        align-items: center;
        color: black;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.7rem;
        font-weight: 700;
    }
    
    .offers__form{
        display: flex;
        flex-direction:column;
        text-align: center;
        align-items: center;
    }
    
    .offers__form > span {
        font-family: 'Nunito Sans', sans-serif;
        color: white;
        font-size: 1.5rem;
    }
    
    
    
    .oldPrice{
        margin-right: 10%;
        font-size: 1.5rem;
        color: red;
        text-decoration: line-through;
    }
    
    .newPrice{
        margin-left: 10%;
        font-size: 1.5rem;
        color: green;
    }

    
}