.header{
    background: rgb(255,153,51);
    background: linear-gradient(90deg, rgba(255,153,51,1) 0%, rgba(255,255,255,1) 50%, rgba(19,136,8,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo1{
    flex: 0.3;
    width: fit-content;  
}

.header__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none !important;
}

.header__logo__text{
    display: flex;
    flex-direction: column;
}

.links{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.underlinks{
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.header__email{
    margin-top: 2%;
    font-size: 0.7rem;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.header__logo > img {
    height: 100px;
    width: 100px;
    margin: 10px 0px;
    margin-right: 5%;
}

.header__middle{
    flex: 0.4;
    text-align: center;
}

.header__middle > span {
    color: black;
    font-size: 1.7rem;    
    font-weight: 700;
    font-family: 'Poppins', sans-serif;

}
.header__links{
    flex: 0.3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: black;
}


.links{
    color: black;
    font-size: 1.0rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-decoration: none !important;

}

                
@media screen and (max-width: 960px) {

    .header__logo1{
        flex: 0.2;
    }
    
    .header__middle{
        flex: 0.1;
    }

    .header__links{
        flex: 0.7;
    }
  
    .underlinks{
        font-size: 0.5rem;
    }

    .header__email{
        font-size: 0.5rem;
    }
    
    .header__logo > img {
        height: 50px;
        width: 50px;
    }


    .header__middle{
        display: none;
    }


  
    .links{
        font-size:0.7rem;
        font-weight: 500;
    }
    
    

}