.home{
    display: flex;
    flex-direction: column; 
    background-color: white;
    align-items: center;
}

.home__form__services{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home__left{
    flex: 0.3;
    background-color:  rgb(255,153,51);
    height: max-content;
    margin-bottom: 10%;
    border-radius: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.home__tagline{
    align-self: center;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}



.home__para{
    align-items: center;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.7rem;
    text-align: center;
}


.home__oldPrice{
    font-size: 2.5rem;
    color: red;
    text-decoration: line-through;
}

.home__newPrice{
    font-size: 2.5rem;
    color: rgb(5, 255, 5);
}


.home__form > h2{
    text-align: center;
}

.home__form{

    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.home__ourservices{
    flex: 0.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__tagline{
    margin: 4% 0%;
    font-size: 2.1rem;
}


.home__imgservices__part1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.home__imgservices__part2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.home__img{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
}

.home__tag{
    font-size: 1.3rem;
    color: black;
}

.home__button{
    width: 130px !important;
    margin: 4% 0% !important;
    background-color: black !important;
    color: white !important;
}


.home__banner{
    width: 100%;
    height: 350px;
    background-image: url("../Media/banner.jpg");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.banner__heading{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
           
}

.banner__text{
    margin: 3% 0%;
    align-self: center;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.banner__para{
    margin: 2% 0%;
    width: 70%;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;

}


.home__services{   
    display: flex;
    flex-direction: column;
    align-content: center;
    color: black;
    font-size: 0.2rem;
    border-radius: 40px;
    height: fit-content;
    text-align: center;
    padding: 0% 0%;
    background: rgb(255,153,51);
    background: linear-gradient(90deg, rgba(255,153,51,1) 0%, rgba(255,255,255,1) 50%, rgba(19,136,8,1) 100%);    
}

.sevices{
    overflow-y: auto;
    height: 1px;
}

@media screen and (max-width: 960px){


    .home__form__services{
        display: flex;
        flex-direction: column;
    }

    
    
    .home__img > img {
        height: 60px;
        width: 100px;
    }
    

    
    .home__tag{
        font-size: 0.7rem;
        color: black;
        margin: 10% 0%;
    }
    
    
    .home__banner{
        width: 100%;
        height: 150px;
        background-image: url("../Media/banner.jpg");
        background-size: 100% 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

    
    
    .banner__heading{
        font-size: 1rem;
               
    }
    
    .banner__text{
        margin: 5% 0%;
        align-content: center;
        font-size: 0.8rem;
    }
    
    .banner__para{
        margin: 2% 0%;
        width: 70%;
        text-align: center;
        font-size: 0.8rem;    
    }

    
    
    .home__services{   
        display: flex;
        flex-direction: column;
        align-content: center;
        color: black;
        font-size: 0.1rem;
        border-radius: 40px;
        height: fit-content;
        text-align: center;
        padding: 3% 3%;
        background: rgb(255,153,51);
        background: linear-gradient(90deg, rgba(255,153,51,1) 0%, rgba(255,255,255,1) 50%, rgba(19,136,8,1) 100%);    
        
    }
    

}


