
  
  /* .input-wrapper label {
    margin-bottom: 5px;
    font-weight: bold;
    width: 100%;
  } */
  
  /* .input-wrapper input {
    background-color: transparent;
    outline: none;
  } */
  
  
  .inputFieldInput{
    display:flex;
    align-self: center;
    background-color: white !important;
    width: 100%;
    padding: 5px;
    border: unset;
    border-radius: 10px;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.1),
    inset -3px -3px 5px rgba(241, 255, 255, 0.5);
}
.input-wrapper label{
    display:flex;
    color:white;
    width:100%;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
  }
@media screen and (max-width:960px){
    .inputFieldInput{
        background-color: white !important;
        width: 60%;
    }
}