.offers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color:whitesmoke;
}


.offers__banner__left{
    flex: 0.7;
    display: flex;
    flex-direction: column;
}

.offers__banner__left > img {
    height: 100%;
    width: 100%;
}

.oldPrice{
    margin-right: 10%;
    font-size: 2.5rem;
    color: red;
    text-decoration: line-through;
}

.newPrice{
    margin-left: 10%;
    font-size: 2.5rem;
    color: rgb(5, 255, 5);
}
  

  .input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 360px;
  }
  
  .inputFieldInput{
      margin: 0px 5% ;
      width: 300px;
  }
  
  .input-wrapper label {
    color: white;
    margin: 0px 5% ;
    margin-bottom: 5px;
    font-weight: bold;
    width: 100%;
  }
  
  .input-wrapper input {
    background-color: white !important;
    color: black !important ;
    border: unset;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.1),
    inset -3px -3px 5px rgba(241, 255, 255, 0.5);
  }
  

  
  .error {
    margin-top: 10px;
    margin-left: 8%;
    font-weight: bold;
    font-style: italic;
    color: #b60000;
  }


@media screen and (max-width: 960px){

    .offers{
        display: flex;
        flex-direction: column;
    }

   

    .oldPrice{
        margin-right: 10%;
        font-size: 2.0rem;
        color: red;
        text-decoration: line-through;
    }
    
    .newPrice{
        margin-left: 10%;
        font-size: 2.0rem;
        color: rgb(5, 255, 5);
    }

    .home__tagline{
        font-size: 1.5rem;
    }

    .home__para{
        font-size: 1.0rem;
    }

    
}