.offers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color:whitesmoke;
}



.offers__banner__left{
    flex: 0.6;
    display: flex;
    flex-direction: column;
}

.offers__banner__left > img {
    height: 100%;
    width: 100%;
}
.gst__left{
    flex: 0.2;
    background-color:  rgb(255,153,51);
    margin-bottom: 10%;
    border-radius: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.oldPrice{
    margin-right: 10%;
    font-size: 2.5rem;
    color: red;
    text-decoration: line-through;
}

.newPrice{
    margin-left: 10%;
    font-size: 2.5rem;
    color: rgb(5, 255, 5);
}
  



@media screen and (max-width: 960px){

    .offers{
        display: flex;
        flex-direction: column;
    }

   

    .oldPrice{
        margin-right: 10%;
        font-size: 2.0rem;
        color: red;
        text-decoration: line-through;
    }
    
    .newPrice{
        margin-left: 10%;
        font-size: 2.0rem;
        color: rgb(5, 255, 5);
    }

    .home__tagline{
        font-size: 1.5rem;
    }

    .home__para{
        font-size: 1.0rem;
    }

    
}